
/*
 style for the home page welcome message: 'Welcome to the SimpliDATA Help Center'
*/
#block-2b1058a11c574a7cafbf784560c0b4de    {
  color: #007acc;
  text-align: center;
  text-shadow: 2px 2px 8px #5C5C5C;
  font-size: 28px;
}

/*
 style for home page promo lead message: 'Help, documentation, videos and tutorials'
*/
#block-496dd2c99eaf40eeabd67ca2a587bc59 {
   color: #565656;
   text-align: center;
   text-shadow: 1px 1px 4px #5C5C5C;
   font-size: 24px;
}


/*
 style for home page promo: 'The world's only Pharma Technology management software built...'
*/
#block-916154f172dd4c7a92c3d2bb69c9c549 {
  color: #595959;
  text-align: center;
  text-shadow: 2px 2px 8px #5C5C5C;
  font-size: 14px;
}
/*
style the title of each card
*/
.notion-property.notion-property__title span {
  text-align: center;
  color: #007acc;
  
  font-size: 20px;
}
